<div class="layout">
    
    <app-left-nav></app-left-nav>

    <!-- main section start -->
    <main>
        <div class="header">
            <h2>Home</h2>
        </div>

        <div class="tweet_box">

            <form method="post" action="/">
                <div class="tweet_box-input">
                    <img src="/assets/images/avatars/JonDoe.png" alt="profile image">
                    <textarea rows="4" cols="40" placeholder="What's happening?" name="text"></textarea>
                    <button>Tweet</button>
                </div>
            </form>

        </div>

        <section class="posts">
            <article class="post">
                <div class="post_profile-image">
                    <img src="/assets/images/avatars/TheLichKing.png" alt="java-logo">
                </div>
                <div class="post_body">
                    <div class="post_header">
                        <div class="post_header-text">
                            <h3>Arthas Menethil
                                <span class="header-icon-section">
                                    <span class="material-icons post_badge">verified</span><a href="/TheLichKing">@TheLichKing</a>
                                </span>
                                -
                                <span>
                                    Jun 15, 2015, 9:03:01
                                </span>
                            </h3>
                        </div>
    
                        <div class="post_header-description">
                            Knock knock. Who's there? Frostmourne. Frostmourne who? Frostmourne hungers... for more jokes! 😈 #LichKingLaughs #Warcraft
                        </div>
                        
                    </div>
                    <div class="post_footer">
                        <button class="material-icons postButton">chat</button>
                        <button class="material-icons postButton">repeat</button>
                        <button class="material-icons postButton">favorite_border</button>
                        <button class="material-icons postButton">file_upload</button>
                    </div>
    
                </div>
    
            </article>
            <article class="post">
                <div class="post_profile-image">
                    <img src="/assets/images/avatars/TheBetrayed.png" alt="java-logo">
                </div>
                <div class="post_body">
                    <div class="post_header">
                        <div class="post_header-text">
                            <h3>Illidan Stormrage
                                <span class="header-icon-section">
                                    <span class="material-icons post_badge">verified</span><a href="/TheBetrayed">@TheBetrayed</a>
                                </span>
                                -
                                <span>
                                    Jun 15, 2015, 9:03:01
                                </span>
                            </h3>
                        </div>
    
                        <div class="post_header-description">
                            You are not prepared... for this joke! Why did the druid go to therapy? He had too many bear issues! 🐻 @HighPriestess #WarcraftJokes #YouAreNotPrepared
                        </div>
                        
                    </div>
                    <div class="post_footer">
                        <button class="material-icons postButton">chat</button>
                        <button class="material-icons postButton">repeat</button>
                        <button class="material-icons postButton">favorite_border</button>
                        <button class="material-icons postButton">file_upload</button>
                    </div>
    
                </div>
    
            </article>
        </section>
    </main>
    <!-- main section end -->

    <app-right-nav></app-right-nav>
    
</div>