
    <div class="aside_input">
        <span class="material-icons aside_search-icon">search</span>
        <input type="text" placeholder="Search Twitter">

    </div>

    <div class="aside_container">
        <div class="trends">
        <span class="title">Trends for you</span>

            <div class="trend">
                <div class="trend_category">Trending</div>
                <div class="trend_name">#ForTheHorde</div>
                <div class="trend_amount">39K Tweets</div>
            </div>

            <div class="trend">
                <div class="trend_category">Trending</div>
                <div class="trend_name">#LeroyJenkins</div>
                <div class="trend_amount">48K Tweets</div>
            </div>

            <div class="trend">
                <div class="trend_category">Trending</div>
                <div class="trend_name">#DarkmoonFaire</div>
                <div class="trend_amount">50K Tweets</div>
            </div>
        
        </div>
    </div>
    
