<article class="message">
    <div class="message-header">
        <p>Introduction</p>
    </div>
    <div class="message-body">
        The purpose of this game is to test your math skills. You will be given two number and you must provide the
        sum as quick as possible.
        The faster the answer is given, the more points you score.
        <div class="block buttons is-right">
            <a class="button is-success" [routerLink]="'/info'">Next</a>
        </div>
    </div>
</article>