<article class="message">
    <div class="message-header">
        <p>High scores</p>
    </div>
    <div class="message-body">
        <table class="table">
            <thead>
                <tr>
                    <th>position</th>
                    <th>username</th>
                    <th>score</th>
                    <th>date</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>1</th>
                    <td>user123</td>
                    <td>12 pts</td>
                    <td>15/01/2024</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>