<div class="container">
  <div class="box mb-2 p-2">

  <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>

  </div>

  <div class="box">
    <div class="is-flex is-flex-direction-row p-4">
      
        <input type="datetime-local" class="input mr-4" style="width: 200px" [(ngModel)]="date"/>
        <button *ngIf="!post" class="button is-primary is-flex-grow-1" (click)="submit()">Post</button>
        <button *ngIf="post" class="button is-primary is-flex-grow-1" (click)="submitEdit()">Edit</button>
      
    </div>
  </div>

  <div class="box is-flex is-flex-direction-row" *ngFor="let post of posts">
    <div class="is-flex-grow-1">
      <div [innerHTML]="post.text"></div>
      <div>{{post.date | date: "dd-MM-yyyy HH:mm"}}</div>
    </div>  
    <div>
      <button class="button"  (click)="edit(post)"><i class="fa-solid fa-pen-to-square"></i></button>
      <button class="button" (click)="delete(post)"><i class="fa-solid fa-trash"></i></button>
    </div>
  </div>
</div>